html {
    background-color: rgb(219, 219, 219);
}

body {
    background-color: rgb(219, 219, 219);
}

#chat {
    background-image: url('/backgr3.jpg');
    background-position: center;
    background-size: cover;
    background-color: grey;
    height: 100%;
    border-radius: 10px;  
}
@media (max-width: 768px){
    #chat {
        background-image: url('/backgr3-mobile.jpg');
        background-attachment: fixed;
    }
}

#username {
    background-color: transparent;
    border-radius: 10px 10px 0px 0px;
    border-color: rgb(100, 100, 100);
    color: rgb(129, 224, 216);
}
#username:focus { /* Change default blue color glow*/
    outline: none !important;
    border: rgb(129, 224, 216);
    box-shadow: 0 0 10px rgb(129, 224, 216);
}

#messages {
    height: 350px;
    overflow: scroll;
    overflow: auto;
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
}

.card {
    background-color: transparent;
    border: none;
}

#clear {
    background-color: rgb(120, 158, 155);
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    color: rgb(88, 88, 88);
}
#clear:focus { /* Change default blue color glow*/
    outline: none !important;
    border: rgb(129, 224, 216);
    box-shadow: 0 0 8px rgb(129, 224, 216);
}

.text-center {
    font-family: 'Roboto Mono', monospace;
    color: rgb(67, 107, 107);
}

#textarea {
    background-color: transparent;
    border-color: rgb(100, 100, 100);
    color: rgb(129, 224, 216);
}
#textarea:focus { /* Change default blue color glow*/
    outline: none !important;
    border: rgb(129, 224, 216);
    box-shadow: 0 0 8px rgb(129, 224, 216);
}

.chat-message {
    background-color: rgba(128, 128, 128, 0.247);
    margin: 20px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    color: rgb(129, 224, 216);
    font-size: 0.9em;
}


::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


::placeholder { 
    color: rgb(223, 223, 223) !important;
 }
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(223, 223, 223) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(223, 223, 223) !important;
}
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(223, 223, 223) !important;
}
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(223, 223, 223) !important;
}
 ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(223, 223, 223) !important;
}


